.navbar {
    position: absolute;
    z-index: 20;
    width: 100%;
    max-width: 99.8% !important;
    top: 0 !important;
}

body,
html {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
}